<html>
<head>
<title>{% block title %}SensorSafe: Broker Server (beta){% endblock %}</title>
{% block head %}{% endblock %}
</head>

<body>
<font face="arial">
<font size="5"><b>SensorSafe: Broker Server</b> <font size="3">(beta)</font></font>
{% block login %}
	{% if user.is_authenticated %}
		<p>Welcome {{ user.username }}! <a href="/broker/profile/">My Profile</a> <a href="/broker/logout/">Sign out</a></p>
	{% else %}
		<p>You are currently not logged in. <a href="/broker/login/">Sign in.</a></p>
	{% endif %}
{% endblock %}

{% block content %}{% endblock %}
</font>
</body>
</html>
