{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html { height: 100% }
#body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100%; width: 100% }
</style>
<link href="/files/css/ui-lightness/jquery-ui-1.8.7.custom.css" rel="stylesheet" type="text/css"/> 
<script type="text/javascript" src="/files/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/files/js/jquery-ui-1.8.7.custom.min.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<!--<script type="text/javascript" src="/files/js/themes/gray.js"></script>-->

<script type="text/javascript" src="/files/js/json2-min.js"></script>

<script type="text/javascript">
var BROKER_ADDRESS = 'http://fieldstream.nesl.ucla.edu/broker'

$(document).ready(function() 
{
	initialize();

	Highcharts.setOptions({
		global: {
			useUTC: false
		}
	});

	$( "#timeslider" ).slider({
		range: true,
		min: 0,
		max: 0,
		values: [ 75, 300 ],
		slide: update_timeslider
	});
	update_timeslider();

	$("#dialog").dialog({ autoOpen: false } );
	var datepickerOptions = {
		numberOfMonths: 1,
		showButtonPanel: true,
		changeMonth: true,
		changeYear: true,
		showOtherMonths: true,
		selectOtherMonths: true
	};
	$("#startdate").datepicker(datepickerOptions);
	$("#enddate").datepicker(datepickerOptions);

});

var chart;
function create_chart(datalist)
{
	seriesOption = [];
	channels = get_checked_channels();
	for (var i in channels)
	{
		seriesOption.push({
			name: channels[i],
			data: datalist[i]
		});
	}
	if (channels.length > 1)
		zoomTypeOption = 'xy';
	else
		zoomTypeOption = 'x';

	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'container',
			zoomType: zoomTypeOption,
		},
		title: {
			text: get_checked_channels()+'',
		},
		xAxis: {
			type: 'datetime',
			/*maxZoom: 14 * 24 * 3600000, // fourteen days*/
			title: {
				text: null
			}
		},
		yAxis: {
			title: {
				text: null
			},
			//startOnTick: false,
			//showFirstLabel: false
		},
		tooltip: {
			shared: true               
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			series: {
				lineWidth: 1,
				marker: {
					radius: 1,
					enabled: false,
					states: {
						hover: {
							enabled: true
						}
					}
				}
			}
		},
		series: seriesOption
		/*[{
			name: get_checked_channels()[0],
			//pointInterval: 24 * 3600 * 1000,
			//pointStart: Date.UTC(2006, 0, 01),
			//data: [ 0.8446, 0.8445, 0.8444, 0.8451,   0.8418, 0.8264,   0.8258, 0.8232,   0.8233, 0.8258 ]
			data: datalist
		}]*/
	});

}

function update_timeslider()
{
	var startDate = Highcharts.dateFormat('%I:%M:%S %p %b %e, %Y', $( "#timeslider" ).slider( "values", 0 ) * 1000);
	var endDate = Highcharts.dateFormat('%I:%M:%S %p %b %e, %Y', $( "#timeslider" ).slider( "values", 1 ) * 1000);
	$( "#amount" ).val( startDate + " - " + endDate );
}

function getRectBox(rect)
{
	var box;
	if (rect != null)
	{
		var path = rect.getPath();
		lats = [ path.getAt(0).lat(), path.getAt(1).lat(), path.getAt(2).lat(), path.getAt(3).lat() ];
		lngs = [ path.getAt(0).lng(), path.getAt(1).lng(), path.getAt(2).lng(), path.getAt(3).lng() ];
		minlat = Math.min.apply(null, lats);
		maxlat = Math.max.apply(null, lats);
		minlng = Math.min.apply(null, lngs);
		maxlng = Math.max.apply(null, lngs);
		box = [ { 'latitude': minlat, 'longitude': minlng }, { 'latitude': maxlat, 'longitude': maxlng } ];
	}
	return box
}

function getIndex(element, list)
{
	for (var i in list)
		if (list[i] == element)
			return i;
	return null;
}

function getData()
{
	var message = { 'query': getConditions(), 'sort': {'timestamp': 1} };
	delete message['query']['consumer']
	console.log('Sending Query');
	console.log(message);
	$.post('/query/',
		{ 'apikey': '{{ apikey }}', 'contributor': 'haksoo', 'data': JSON.stringify(message) },
		function(data, testStatus, XMLHttpRequest) {
			data = JSON.parse(data);
			console.log('Received data');
			console.log(data);
			selected_channels = get_checked_channels();
			var datalist = [];
			for (var i in selected_channels)
				datalist.push([]);

			for (var i in data)
			{
				var num_channels;
				var channel;
				var index;
				if (typeof(data[i]['data_channel']) != 'string')
				{
					num_channels = data[i]['data_channel'].length;
					for (var j in data[i]['data_channel'])
					{
						index = getIndex(data[i]['data_channel'][j], selected_channels);
						if (index == null)
							continue;
						channel = j;
						timestamp = data[i]['timestamp'];
						interval = data[i]['sampling_interval'];
						for (var k in data[i]['data'])
						{
							datalist[index].push([(timestamp+(k*interval))*1000, data[i]['data'][k][channel]]);
						}
					}
				}
				else
				{
					index = getIndex(data[i]['data_channel'], selected_channels);
					if (index != null)
					{
						timestamp = data[i]['timestamp'];
						interval = data[i]['sampling_interval'];
						for (var k in data[i]['data'])
						{
							datalist[index].push([(timestamp+(k*interval))*1000, data[i]['data'][k]]);
						}
					}
				}
			}
			create_chart(datalist);
		}
	);
}

var data;
var socket, state = 0;
var mintime, maxtime;
var markers = [];
var data_channels;
var consumers;

function debug(msg) {
	var str = "";
	if ($('#debug').html() != "" ) 
		str = $('#debug').html() + '<br/>'
	$('#debug').html(str + msg);
}

var getSummaryQuery;
function getSummary() {
	state = 0;
	getSummaryQuery = getConditions();
	data_channels = null;

	// delete markers on the map
	for ( var i in markers )
	{
		markers[i].setMap(null);
		markers[i] = null;
	}
	markers = [];

	// get distinct locations
	var message = { 'query': getSummaryQuery, 'distinct': 'location' };
	console.log('Sending query')
	console.log(message);
	$.post('/query/',
		{ 'apikey': '{{apikey}}', 'contributor': 'haksoo', 'data': JSON.stringify(message) },
		function(data, textStatus, XMLHttpRequest) {
			// receive distinct locations.
			data = JSON.parse(data);
			console.log('Received data');
			console.log(data);

			if (data.length <= 0)
				return

			//find bounding box
			var latList = [], lngList = [];
			for (var i in data)
			{
				latList.push(data[i]['latitude']);
				lngList.push(data[i]['longitude']);
			}
			minlat = Math.min.apply(null, latList);
			maxlat = Math.max.apply(null, latList);
			minlng = Math.min.apply(null, lngList);
			maxlng = Math.max.apply(null, lngList);

			var bound = new google.maps.LatLngBounds( new google.maps.LatLng(minlat, minlng), new google.maps.LatLng(maxlat, maxlng));
			map.fitBounds(bound);

			if (map.getZoom()	> 17)
				map.setZoom(17);

			// add markers
			for (i = 0; i < data.length; i++)
			{
				markers.push(new google.maps.Marker({
					position: new google.maps.LatLng(data[i]['latitude'], data[i]['longitude']),
					map: map,
					//icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png',
					title: data[i]['latitude'] + ', ' + data[i]['longitude'],
					//draggable: true,
				}));
			}
		}
	);

	// get list of timestamps
	var message = { 'query': getSummaryQuery, 'select': {'timestamp': 1}, 'sort': {'timestamp': 1} };
	console.log('Sending query')
	console.log(message);
	$.post( '/query/',
		{ 'apikey': '{{apikey}}', 'contributor': 'haksoo', 'data': JSON.stringify(message) },
		function (data, textStatus, XMLHttpRequest) {
			data = JSON.parse(data);
			console.log('Received data');
			console.log(data);
			if (data.length <= 0)
				return

			mintime = data[0]['timestamp']
			maxtime = data[data.length-1]['timestamp']
			$('#timeslider').slider("option", "min", mintime);
			$('#timeslider').slider("option", "max", maxtime);
			$('#timeslider').slider("option", "values", [mintime, maxtime]);
			update_timeslider();
		}
	);

	// get list of data_channels
	var message = { 'query': getSummaryQuery, 'contributor': 'haksoo', 'distinct': 'data_channel' };
	console.log('Sending query')
	console.log(message);
	$.post( '/query/',
		{ 'apikey': '{{apikey}}', 'contributor': 'haksoo', 'data': JSON.stringify(message) },
		function (data, textStatus, XMLHttpRequest) {
			// receive list of data_channels
			data_channels = JSON.parse(data);
			console.log('Received data');
			console.log(data_channels);
			if (data.length <= 0)
				return

			$('#data_channel').html('');
			for ( var i in data_channels )
			{
				old = $('#data_channel').html();
				$('#data_channel').html(old+'<label><input type="checkbox" id="dc_' + data_channels[i].replace('.', '_') + '"/>' + data_channels[i] + '</label><br/>');
			}
		}
	);

	// get list of data consumers
	$.post(BROKER_ADDRESS + '/get_consumers/',
		{ 'apikey': '{{apikey}}' },
		function(data, textStatus, XMLHttpRequest) {
			consumers = JSON.parse(data);
			console.log('Received data');
			console.log(consumers);
			if (data.length <= 0)
				return
			
			$('#consumers').html('');
			for ( var i in consumers )
			{
				old = $('#consumers').html();
				$('#consumers').html(old+'<label><input type="checkbox" id="' + consumers[i] + '"/>' + consumers[i] + '</label><br/>');
			}
		}
	);
}

function deleteRegion() {
	if (rect != null)
	{
		rect.setMap(null);
		rect = null;
	}
}

var map;
var rect;
var isDrawingRect = false;

function initialize() 
{
	var myLatLng = new google.maps.LatLng(34.069167790000002, -118.44349416);
	var myOptions = {
			zoom: 1,
			center: myLatLng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	/*var marker = new google.maps.Marker({
		position: myLatLng,
		map: map,
		//icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png',
		title: 'Hey Marker'
	});*/

	/*coords = [{'latitude': 34.068468666666668, 'longitude': -118.4432779}, {'latitude': 34.0684696, 'longitude': -118.44331360000001}, {'latitude': 34.068489249999999, 'longitude': -118.4432877}, {'latitude': 34.068511800000003, 'longitude': -118.443409}, {'latitude': 34.068523200000001, 'longitude': -118.443427}, {'latitude': 34.068526666666664, 'longitude': -118.44337333333334}, {'latitude': 34.068539766666667, 'longitude': -118.44335606666668}, {'latitude': 34.068576300000004, 'longitude': -118.4434509}, {'latitude': 34.068640799999997, 'longitude': -118.4434928}]

	for (i = 0; i < coords.length; i++)
	{
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(coords[i]['latitude'], coords[i]['longitude']),
			map: map,
			//icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png',
			title: 'Hey Marker'
		});
	}*/

	google.maps.event.addListener(map, 'click', function(event) {
		drawRect(event.latLng);
	});

	google.maps.event.addListener(map, 'mousemove', function(event) {
		/*$('#latitude').html(event.latLng.lat());
		$('#longitude').html(event.latLng.lng());*/
		if (isDrawingRect)
		{
			var path = rect.getPath();
			path.setAt(1, new google.maps.LatLng(path.getAt(0).lat(), event.latLng.lng()));
			path.setAt(2, event.latLng);
			path.setAt(3, new google.maps.LatLng(event.latLng.lat(), path.getAt(0).lng()));
		}
	});
}

function drawRect(latLng)
{
	if (!isDrawingRect)
	{
		if (rect != null)
		{
			rect.setMap(null);
			rect = null;
		}
		var coords = [ latLng, latLng, latLng, latLng	];
		rect = new google.maps.Polygon({
			paths: coords,
			strokeColor: "#FF0000",
			strokeOpacity: 0.8,
			strokeWeight: 2,
			fillColor: "#FF0000",
			fillOpacity: 0.35,
			map: map
		});

		google.maps.event.addListener(rect, 'click', function(event) {
			drawRect(event.latLng);
		});

		isDrawingRect = true;
	}
	else
	{
		isDrawingRect = false;
	}
}

function get_checked_channels()
{
	var channels = [];
	for (var i in data_channels)
	{
		if ($('#dc_' + data_channels[i].replace('.','_')).attr('checked') == true)
			channels.push(data_channels[i]);
	}
	return channels;
}

function get_checked_consumers()
{
	var checked_consumers = [];
	for (var i in consumers)
	{
		if ($('#' + consumers[i]).attr('checked') == true)
			checked_consumers.push(consumers[i]);
	}
	return checked_consumers;
}

function test()
{
	//debug(get_checked_channels());
	debug(consumers);
	debug(get_checked_consumers());
}

function getConditions()
{
	var box = getRectBox(rect);
	var cond = {};
	if (box != null)
	{
		cond['location.latitude'] = { '$gte': box[0]['latitude'], '$lte': box[1]['latitude'] };
		cond['location.longitude'] = { '$gte': box[0]['longitude'], '$lte': box[1]['longitude'] };
	}

	mintime = $('#timeslider').slider('values',0);
	maxtime = $('#timeslider').slider('values',1);
	if (mintime > 0 && maxtime > 0)
		cond['timestamp'] =  { '$gte': $( "#timeslider" ).slider( "values", 0 ), '$lte':  $( "#timeslider" ).slider( "values", 1 ) };

	channels = get_checked_channels();
	if (channels.length > 0)
	{ 
		if (channels.length == 1)
			cond['data_channel'] = channels[0];
		else
		{
			cond['$or'] = [];
			for (var i in channels)
				cond['$or'].push({'data_channel': channels[i]});
		}
	}
	
	var checked_consumers = get_checked_consumers();
	if (checked_consumers.length > 0)
	{ 
		cond['consumer'] = [];
		for (var i in checked_consumers)
			cond['consumer'].push(checked_consumers[i]);
	}

	return cond;
}

function createRule()
{
	var rule = getConditions();
	$.post('/uploadrules/'
		, { 'apikey': '{{apikey}}', 'data': JSON.stringify(rule) }
		, function(data, textStatus, XMLHttpRequest) {
			alert(data);
		}
	);
}

function deleteAllRules()
{
	$.post('/deleterules/'
		, { 'apikey': '{{apikey}}' }
		, function(data, textStatus, XMLHttpRequest) {
			alert(data);
		}
	);
}

function listRules()
{
	$.post('/getrules/'
		, { 'apikey': '{{apikey}}' }
		, function(data, textStatus, XMLHttpRequest) {
			debug(data);
		}
	);
}

function initTimeRange()
{
		$('#timeslider').slider("option", "max", 0);
		$('#timeslider').slider("option", "min", 0);
		$('#timeslider').slider("option", "values", [0, 0]);
		update_timeslider();
}
</script>
{% endblock %}

{% block content %}
<table>
<tr><td width=600 height=400><div id="map_canvas"></div></td>
<td valign='top'>
<button id='getSummary' onclick='getSummary()'>Get Summary</button><br/>
<button id='getData' onclick='getData()'>Get Data!</button><br/>
<button id='deleteRegion' onclick='deleteRegion()'>Delete Region</button><br/>
<button id='initTimeRange' onclick='initTimeRange()'>Init Time Range</button><br/>
<button id='createRule' onclick='createRule()'>Create Rule</button><br />
<button id='deleteAllRules' onclick='deleteAllRules()'>Delete All Rules</button><br />
<button id='listRules' onclick='listRules()'>List Rules</button><br/>
<!--Latitude: <b id='latitude'>?</b><br/>
Longitude: <b id='longitude'>?</b><br/>-->
<div id="consumers"></div>
<hr/>
<div id="data_channel"></div>
<button id='test' onclick='test()'>Test</button><br/>
</td></tr>
<tr>
	<td>
	<label for="amount">Time range:</label>
	<input type="text" id="amount" size=50 style="border:0; font-weight:bold;" /><br/>
	<div id="timeslider"></div>
	</td>
</tr>
<tr><td>
<div id="container" style="width: 600px; height: 350px; margin: 0 auto"></div>
</td>
<td>

</td>
</tr>
</table>
<div id='debug'></div>
<div id="dialog" title="Test Dialog">
<p>This is test dialog.</p>
<input type="text" id="startdate"> <input type="text" id="starttime" value="1:30pm"> 
to <input type="text" id="endtime"> <input type="text" id="enddate">
</div>
{% endblock %}
