{% extends "base.html" %}

{% block content %}

<b>Your Profile</b><br/>
<br/>
{{ user.first_name }} {{user.last_name}}: 
{% if profile.isConsumer %}
<b>Data Consumer</b>
{% else %}
<b>Data Contributor</b>
{% endif %}
<br/>
{{ user.email }}<br/>
<br/>
Your API key (Keep this private): {{ profile.apiKey }}<br/>
{% if profile.isConsumer %}
<br/>
<a href='/broker/display/'><b>Access contributor's data</b></a><br/>
<a href='/broker/search_contributors/'><b>Search contributors</b></a>
{% else %}
Your data store address: <a href='http://{{ profile.datastoreAddress }}'>http://{{ profile.datastoreAddress }}</a> (need login)
{% endif %}

{% endblock %}
